**/iotjs_modules
**/node_modules
*.swp
*.tgz
*~
.#*
index.d.ts
index.d.ts.map
index.js
index.js.map
lib/*.js
lib/*.js.map
lib/*.d.ts
lib/*.d.ts.map
npm-debug.log
tmp/
webthing.d.ts
webthing.d.ts.map
webthing.js
webthing.js.map
